{% extends 'base.html' %}
{%block content%}
{{ block.super}}

<div class="container">
    <h1>Welcome to the Instagram Clone</h1>
    {%for post in posts %}
    <div class="card" style="width: 70%;">
        <div class="card-body d-flex">
            <img src="{{post.avatar}}"
                class="img-thumbnail rounded-circle" alt="Avatar" width="54" height="56">
            <h5 class="card-title mx-3 my-3">Card title</h5>
        </div>
        <img class="card-img-top"
            src="{{post.image}}"
            alt="Card image cap">
        <div class="card-body">
            <div class="d-flex" style="font-size: 25px;">
                <i class="fa fa-heart-o m-2 " aria-hidden="true"></i>
                <i class="fa fa-comment-o m-2" aria-hidden="true"></i>
                <i class="fa fa-paper-plane-o m-2" aria-hidden="true"></i>
                <i class="fa fa-bookmark-o" style="margin-left: 70%;" aria-hidden="true"></i>
            </div>
            <h3>{{post.name}}</h3>
            <p>
                <span class="font-weight-bold">{{post.author}}</span> 
                <span>{{post.caption}}</span>
            </p>
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p> -->
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" style="font-size: 25px;">
                <i class="fa fa-smile-o" aria-hidden="true"></i>
            </li>
        </ul>
    </div>
    {% endfor %}
</div>
{%endblock%}