{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="">
    <div class="row p-5">
        <div class="col-md-3 m-5">
            <div class="">
                {% load static %}
                <img src="https://o.remove.bg/downloads/c9d4a39b-47d1-4032-b7b6-5621db84d5f2/ig-removebg-preview.png" alt="" class="screen-image">
            </div>
        </div>
        {% load crispy_forms_tags %}
        {% if form.errors %}
        <p>Some credentials have been entered wrongly</p>
        {% endif %}
        <!--Login-->
        <div class="col-md-3 m-5">
            <h1>Login</h1>
            <form method="POST">
                {% csrf_token %}
                {{ login_form|crispy }}
                <button class="btn btn-primary" type="submit">Login</button>
            </form>
            <p class="text-center">Don't have an account? <a href="/register">Create an account</a>.</p>
        </div>
    </div>
</div>
{% endblock %}