{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
    <div class="">
        <div class="row">
            {% load crispy_forms_tags %}
            <div class="col-md-3 m-5">
                <div class="">
                    {% load static %}
                    <img src="https://o.remove.bg/downloads/c9d4a39b-47d1-4032-b7b6-5621db84d5f2/ig-removebg-preview.png" alt="" class="screen-image">
                </div>
            </div>
            <!--Register-->
            <div class="col-md-3 m-5">
                <h1>Register</h1>
                <form method="POST">
                    {% csrf_token %}
                    {{ register_form|crispy }}
                    <button class="btn btn-primary" type="submit">Register</button>
                </form>
                <p class="text-center">If you already have an account, <a href="/login">login</a> instead.</p>
            </div>
        </div>
    </div>
{% endblock %}